
/* Fonts Reference */

/* Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/* Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v8/X1g_KwGeBV3ajZIXQ9VnDgYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
}

/* latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo Regular'), local('Chivo-Regular'), url(https://fonts.gstatic.com/s/chivo/v8/hBVCJrXaaeeHH0FNWdIheqCWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
}



/* Defining basic styling */

body{
  margin: 0;
  font-family: "San Francisco", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.333em;
  color: #333;
  background-color: #F5E9E9;
}

.container{
  width: 100%;
  border: 1em solid #fff;
  overflow: auto;
  box-sizing: border-box;
}



/* Layout */

.wrapper{
  max-width: 1036px;
  margin: 0 auto;
  padding: 8em 0;
  overflow: auto;
}

.headline{
  padding-left: 39.7683%;
}

main{
  max-width: 60.2316%;
  float: right;
  margin-top: 4em;
}

aside{
  max-width: 33.590%;
  float: left;
  margin-top: 4em;
}

.column-small{
  margin-top: 3em;
}



/* Font Styling */

.headline-text{
  font-family: 'Abril Fatface', cursive;
  font-size: 4.625em;
  line-height: 1.02777em;
  font-weight: 400;
  -webkit-margin-before: 0.324em;
}
.secondary-headline{
  font-size: 1.125em;
  font-weight: 400;
  opacity: 0.6;
}



/* Default List Styles */

ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}



/* Experience Section */

.job-description{
  box-sizing: border-box;
  padding-left: 6.4em;
}

.job-role{
  padding-bottom: 0.5em;
}

.title-plusone{
  margin-top: 1em;
}

.job-role:before{
  content: "\21b3";
  margin-left: -30px;
  padding-right: 10px;
  opacity: 0.5;
}

.company-name{
  font-size: 2.25em;
  font-weight: 700;
  -webkit-margin-after: 0;
}

.job-date{
  font-family: 'Chivo', sans-serif;
  font-size: 0.333em;
  font-weight: 400;
  margin-left: 0.25em;
  background-color: #333;
  color: #fff;
  padding: 1px 6px;
}

.job-title{
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #D0011B;
  -webkit-margin-before: 0.25em;
  -webkit-margin-after: 0.50em;
}



/* Aside Section */

.portrait{
  max-width: 100%;
}

.education-background{
  background-color: #FFDD98;
  box-sizing: border-box;
  padding: 0.8888em 1.7778em 0.8888em 1.7778em;
  color: #AD4618;
}

.skills-background{
  background-color: #D3E5FD;
  box-sizing: border-box;
  padding: 0.8888em 1.7778em 0.8888em 1.7778em;
  color: #2E4B78;
}

.education-institute{
  font-size: 1em;
  font-weight: 700;
  -webkit-margin-after: 0;
}

.year{
  font-family: 'Chivo', sans-serif;
  font-size: 0.6667em;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.mobile-text{
  font-size: 0.778em;
  -webkit-margin-before: 0.75em;
  -webkit-margin-after: 0.75em;
  line-height: 1.2857em;
}
